.sig-param::before {
  content: "\a\20\20\20\20\20\20\20\20\20\20\20\20\20\20\20\20";
  white-space: pre;
}
        
dt em.sig-param:last-of-type::after {
  content: "\a";
  white-space: pre;
}

dl.class > dt:first-of-type {
  display: block !important;
}

